name: ci

on:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
      with:
        driver: docker
    - uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - uses: docker/build-push-action@v2
      with:
        context: .
        tags: mariamkhaled/webapp:latest
        load: true
    - name: Upload image
      uses: ishworkh/docker-image-artifact-upload@v1
      #with:
       # image: "webapp:latest"
    #- run: |
            #docker push mariamkhaled/webapp:latest
            #docker run -d -v $(pwd):/workdir --name angular-e2e-container rogargon/angular-e2e
            #docker exec angular-e2e-container npm install
            #docker exec angular-e2e-container npm run start
            #docker exec angular-e2e-container npm run e2e
    
    #- name: Unit Test setup
    #  uses: actions/setup-node@v1
    #  with:
    #    node-version: '12.x'
    #- run: npm i --save-dev karma-phantomjs-launcher
    #- run: npm install @types/node@latest
    #- run: npm ci
    #- run: npm run build --if-present
    #- run: npm run test
      





