name: ci

on:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check-out
      uses: actions/checkout@v2
      
    - name: Setup
      uses: docker/setup-buildx-action@v1
      with:
        driver: docker
        
    - name: Login to dockerhub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Build, Test and Push image to dockerhub 
      uses: docker/build-push-action@v2
      with:
        context: .
        tags: mariamkhaled/webapp:latest
        load: true
        
    #- name: Upload image
     # uses: ishworkh/docker-image-artifact-upload@v1
      #with:
       # image: "mariamkhaled/to-do:latest"
